.winnerbox{
    background-color: rgb(52, 253, 2);
    padding: 20px;
    margin: 10px;



    border-radius: 15px;
    align-items: center;
    text-align: center;
    height: 400px;
    margin-left: 130px;
    margin-top: 100px;
    width: 300px ;
    opacity: 0.77;
}

body{
    display: flex;
    margin:0;
    padding: 0;
    
    justify-content: center;
    font-size: 4rem;
    height: 120vh;
    background: url(winner.png) ;
    background-repeat: no repeat;
    




}
#image{
    display: flex;
    background-image: url(delta.jpg);
    background-repeat: no-repeat;
    background-size: 29%;
    height: 150px;
    align-items: center;
    margin: 0px;
    width: 350px;
    transition: opacity 0.3s;
   
}
@font-face {
    font-family: myFirstFont;
    src: url(Pixelon-OGALo.ttf);
  }
p{
    font-size: 2rem;
    font-family: myFirstFont;
}
@font-face {
    font-family: myjapFont;
    src: url(Naganoshi-ywMlV.ttf);
  }

#jap{
    color: rgb(0, 255, 30);
    font-size: 2.9rem;
    font-family: myjapFont;
    margin-left: 142px;
}
button{
    border-radius: 10px;
    background-color: green;
    color: black;
    margin: 5px;
    height: 50px;
    font-weight: bold;
    font-family:  myFirstFont;
    width: 250px;
    font-size: 1.2rem;
    margin-left: 180px;
}



@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}

#winner{
    animation: rainbow 5s linear infinite;
}

#japrain{
    animation: rainbow 5s linear infinite;
    font-size: 1.5rem;
    font-family: myjapFont;
    margin-left: 142px;

}
